<!--
  A simple layout of for this website.
  all of the main elements are in partials in the same directory.
-->
<html lang="en">

<head>
    <%= render :partial => "layouts/htmlhead" %>
</head>

<body>

<div class="container_12">
    <%= render :partial => "layouts/navheader" %>
    <%= render :partial => "layouts/navmain" %>
    <%= render :partial => "layouts/navside" %>
    <%= render :partial => "layouts/navfooter" %>
</div>

</body>

</html>
